.env
.htaccess-dev
error_log
*-backup.php
musicLibraryDB.sql
phpinfo.php
backups/
/config/config.php
/config/*.env
/config/*.local.php
/vendor/
files/
public/files/
public/images/dbicon-sm.png
public/images/logo_large.png
public/images/logo_184x256.png
public/images/logo_367x512.png
public/images/musicLibraryDB.png
public/images/musicLibraryDBlogo.png
public/popup-*.html
public_html
src/includes/config.php
src/PHPdfer/command_output.log
tmp/
